body{
    padding: 0;
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
}

.home{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 65px 256px 186px 186px 414px 237px;
    grid-template-areas: 
        "nav"
        "home-header"
        "button-home1"
        "button-home2"
        "carousel-row-home"
        "footer";
}

.general{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 65px 256px auto 237px;
    grid-template-areas: 
        "nav"
        "header"
        "main"
        "footer";
}

.navigation{
    grid-area: nav;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    display: grid;
    grid-template-columns: 11.5% 11.5% 20% 11.5% 11.5%;
    grid-template-rows: auto;
    grid-template-areas: 
        "nav1 nav2 logo nav3 nav4";
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}


nav:nth-of-type(1){
    grid-area: nav1;
}

nav:nth-of-type(2){
    grid-area: nav2;
}

nav:nth-of-type(3){
    grid-area: logo;
}

nav:nth-of-type(4){
    grid-area: nav3;
}

nav:nth-of-type(5){
    grid-area: nav4;
}

.home-nav{
    background-color: #044056;
}

.navigation a{
    color: #044056;
    text-decoration: none;
    justify-content: flex-start;
    font-size: 7px;
    font-family: 'Inter', sans-serif;
}

.navigation a:hover{
    color: #a9a9a9;
}

.navigation .nav-active{
    color: #a9a9a9;
}

.home-nav a{
    color: white;
}

.home-nav a:hover{
    color: #ffd873;
}

.navigation img{
    width:80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
}

#home-header{
    grid-area: home-header;
    background-color: #044056;
    display: grid;
    grid-template-columns: 60% auto;
    grid-template-rows: auto;
    grid-template-areas: 
        "col1 col2";
}

#home-header .home-col:nth-of-type(1){
    grid-area: col1;
}

#home-header .home-col:nth-of-type(2){
    grid-area: col2;
}

.home-col{
    display: flex;
    align-items: center;
}

#home-header img{
    width: 6%;
    transform: rotate(14.8deg);
}

.button-home:nth-of-type(1){
    grid-area: button-home1;
}

.button-home:nth-of-type(2){
    grid-area: button-home2;
    display: flex;
}

.button-home{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;

}

.button-home img{
    width:100vw;
    height: 170px;
    opacity: 0.35;
    object-fit: cover;
}

.button-home img:hover{
    opacity: 1;
    transition-property: all;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
}

.button-home h1{
    color: black;
    position: absolute;
}

.button-home:hover h1{
    color: white;
    transition-property: all;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
}

.carousel-row-home{
    grid-area: carousel-row-home;
    margin-top: 40px;
    /* margin-bottom: 100px; */
    display: grid;
    grid-template-rows: 20% auto 40%;
    grid-template-columns: auto;
    grid-template-areas: 
        "title"
        "card-row"
        "dots";
}

.title-row{
    grid-area: title;
    /* background-color: #ffd873; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 15px;
}

.title-row h2{
    color: black;
}

.card-row{
    grid-area: card-row;
    /* background-color: darkgoldenrod; */
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 15% auto 15%;
    grid-template-areas: "arrow1 grid-image arrow2";

}

.arrow1{
    grid-area: arrow1;
    /* background-color: plum; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow2{
    grid-area: arrow2;
    /* background-color: cornflowerblue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow img{
    height: 15%;
    width: auto;
}

.grid-image1{
    grid-area: grid-image;
    /* background-color: darkmagenta; */
    display: flex;
    flex-direction: column;
    align-items: center;
    border: black 1px solid;
    /* height: 300px; */
    margin-left: 10px;
    margin-right: 10px;
}

.grid-image2{
    display: none;
}

.grid-image3{
    display: none;
}

.grid-image4{
    display: none;
}

.grid-img{
    border-radius: 10px;
}

.grid-img img{
    width:100%;
    height: 75%;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

.dots-row{
    grid-area: dots;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
}

.dot{
    background-color: #292929;
    opacity: 0.5;
    width: 15px;
    height: 15px;
    border-radius: 7.5px;
    margin: 20px 2px 10px 2px;
}

.dot-active{
    opacity: 1;
}

footer{
    grid-area: footer;
    background-color: #044056;
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: 50% auto;
    grid-template-areas: 
        "col1 col3"
        "col2 col2";
}

.footer-col:nth-of-type(1){
    grid-area: col1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    margin-left: 20px;
    margin-top: 10px;
}

.footer-col:nth-of-type(2){
    grid-area: col2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    margin-left: 20px;
    margin-top: -30px;
}

.footer-col:nth-of-type(3){
    grid-area: col3;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    /* padding-top: 50px;
    padding-left: 50px; */
}

footer img{
    width: 40%;
    height: auto;
}

h1{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 550;
    text-align: center;
    font-size: 30px;
    margin-top: 10px;   
}

h2{
    font-family: 'Inter', sans-serif;
    color: white;
    font-weight: 300;
    font-size: 18px;
    line-height: 20px;
}

h3{
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 10px;
}

header h3{
    text-align: center;
    margin-top: -10px;
}

h4{
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 15px;
}

h5{
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 10px;
}

h6{
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 7px;
}

p{
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

footer h6{
    margin-top: -10px;
    line-height: 11px;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #044056;
}

.header-box{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: #044056 5px solid; */
    height: 65%;
    width: 65%;
    border-radius: 5px; 
}

.header-img{
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
   
.FaG{
    background-image: url(Images/craft-supplies.jpg);
}

.For{
    background-image: url(Images/legs-with-paint.jpg);
}

.Gde{
    background-image: url(Images/wooden-shelf.jpg);
}

.Ans{
    background-image: url(Images/tools-on-beige-wall.jpg);
}

.blue-strip{
    background-color: #044056;
    margin-top: 10px;
}

main{
    grid-area: main;
    /* background-color: plum; */
}

.find-a-guide{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 175px 500px 500px 500px;
    grid-template-areas: 
        "search-bar"
        "carousel-row1"
        "carousel-row2"
        "carousel-row3";
}

.search-bar{
    grid-area: search-bar;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search-box{
    background-color: white;
    width:75%;
    height: 40px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-box img{
    width: 5.33%;
    height: auto;
    margin-right: 25px;
}

.search-box h5{
    color: #a9a9a9;
    margin-left: 25px;
    font-size: 10px;
}

.search-bar h2{
    margin-top: -10px;
}

.carousel-row-FaG{
    margin-bottom: 100px;
}

.carousel-row-FaG1{
    grid-area: carousel-row1;
    /* background-color: #044056; */
}

.carousel-row-FaG2{
    grid-area: carousel-row2;
    /* background-color: orange; */
}

.carousel-row-FaG3{
    grid-area: carousel-row3;
    /* background-color: teal; */
}

.carousel-row-FaG .grid-img{
    height: 300px;
}

.carousel-row-FaG .grid-img img{
    width:100%;
    height: 80%;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

.carousel-row-FaG a{
    color: black;
}

.category{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: repeat(9, auto);
    grid-template-areas: 
        "grid-row1"
        "grid-row2"
        "grid-row3"
        "grid-row4"
        "grid-row5"
        "grid-row6"
        "grid-row7"
        "grid-row8"
        "grid-row9";
}

.grid-image-CAT1{
    grid-area: grid-row1;
}
.grid-image-CAT2{
    grid-area: grid-row2;
}
.grid-image-CAT3{
    grid-area: grid-row3;
}
/* .grid-image-CAT4{
    grid-area: grid-row4;
} */
.grid-image-CAT5{
    grid-area: grid-row5;
}
.grid-image-CAT6{
    grid-area: grid-row6;
}
.grid-image-CAT7{
    grid-area: grid-row7;
}
.grid-image-CAT8{
    grid-area: grid-row8;
}
.grid-image-CAT9{
    grid-area: grid-row9;
    margin-bottom: 50px;
}

.category a{
    grid-area: grid-row4;
}

.grid-image-CAT{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: black 1px solid;
    height: 400px;
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 10px;
    width: 80%
}

.forum{
    height: 4900px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100px auto;
    grid-template-areas: 
        "button-bar"
        "forum-content";
}

.forum-content{
    height: 3000px;
    grid-area: forum-content;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 5% auto 5%;
    grid-template-areas: 
        "filters"
        "question-grid"
        "post-button";
}

.filters{
    grid-area: filters;
    background-color: darkgreen;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-filter-popdown{
    height: 40%;
    width: 80%;
    border: 1px black solid;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.keyword-search-bar{
    display: none;
}

.filter-popdown1{
    display: none;
}

.filter-popdown2{
    display: none;
}

.filter-popdown3{
    display: none;
}

.question-grid{
    grid-area: question-grid;
    /* background-color: fuchsia; */
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(12, auto);
    grid-row-gap: 20px;
    grid-template-areas: 
        "question-tile1"
        "question-tile2"
        "question-tile3"
        "question-tile4"
        "question-tile5"
        "question-tile6"
        "question-tile7"
        "question-tile8"
        "question-tile9"
        "question-tile10"
        "question-tile11"
        "question-tile12";
}

.question-tile1{
    grid-area: question-tile1;
    background-color: lightblue;
}

.question-tile2{
    grid-area: question-tile2;
    background-color: green;
}

.question-tile3{
    grid-area: question-tile3;
    background-color: lightblue;
}

.question-tile4{
    grid-area: question-tile4;
    background-color: green;
}

.question-tile5{
    grid-area: question-tile5;
    background-color: lightblue;
}

.question-tile6{
    grid-area: question-tile6;
    background-color: green;
}

.question-tile7{
    grid-area: question-tile7;
    background-color: lightblue;
}

.question-tile8{
    grid-area: question-tile8;
    background-color: green;
}

.question-tile9{
    grid-area: question-tile9;
    background-color: lightblue;
}

.question-tile10{
    grid-area: question-tile10;
    background-color: green;
}

.question-tile11{
    grid-area: question-tile11;
    background-color: lightblue;
}

.question-tile12{
    grid-area: question-tile12;
    background-color: green;
}

.question-tile{
    width: 90%;
    height: 350px;
    margin-left: 5%;
    background-color: white;
    border: 1px black solid;
    border-radius: 10px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 20% auto 30%;
    grid-template-areas: 
        "caption-text"
        "question-text"
        "filter-tags";
}

.caption-text{
    grid-area: caption-text;
    /* background-color: darksalmon; */
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.caption-text h5{
    color: #a8a8a8;
}

.question-text{
    grid-area: question-text;
    /* background-color: palegreen; */
    margin-left: 10px;
    margin-right: 10px;
}

.filter-tags{
    grid-area: filter-tags;
    /* background-color: mediumslateblue; */
    margin-left: 10px;
    margin-right: -10px;
    margin-top: 45px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-template-areas: "tag1 tag2 tag3";
}

.tag1{
    grid-area: tag1;
    background-color: #ffd873;
}

.tag2{
    grid-area: tag2;
    background-color: darkgoldenrod;
}

.tag3{
    grid-area: tag3;
    background-color: #ffd873;
}

.tag{
    height: 50%;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e8dbc8;
    border-radius: 10px;
}

.tag-hidden{
    visibility: hidden;
}

.tag h5{
    color: black;
}

.button-bar{
    grid-area: button-bar;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    background-color: #ffd873;
    width: 250px;
    height: 50px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}

button h2{
    color: black;
    font-size: 20px;
}

.button-light:hover{
    background-color: white;
}

.button-dark:hover{
    background-color: #292929;
}

.button-dark:hover h2{
    color: white;
}

a{
    text-decoration: none;
}

.carousel-row-SR{
    grid-area: carousel-row-home;
    margin-top: 100px;
    /* margin-bottom: 100px; */
    display: grid;
    grid-template-rows: 20% auto 40%;
    grid-template-columns: auto;
    grid-template-areas: 
        "title"
        "card-row"
        "dots";
}

.card-row-SR{
    grid-area: card-row;
    /* background-color: darkgoldenrod; */
    /* margin-bottom: 75px; */
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 15% auto 15%;
    grid-template-areas: "arrow1 grid-image arrow2";

}

.ask-a-question{
    height: 750px;
    display: grid;
    margin-top: 20px;
    margin-bottom: 150px;
    grid-template-columns: auto;
    grid-template-rows: 15% 40% 15% 15% 25%;
    grid-template-areas: 
        "question-box"
        "description-box"
        "categories-box"
        "email-box"
        "post-button";
}

.text-field{
    display: grid;
    width: 90%;
    margin-left: 5%;
    /* justify-content: center; */
    grid-template-columns: auto;
    grid-template-rows: 33.3% auto;
    grid-template-areas: 
        "title-text"
        "text-box";
}

.title-text{
    grid-area: title-text;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-text img{
    width: auto;
    height: 80%;
}

.text-box{
    grid-area: text-box;
    background-color: white;
    height: 50%;
    border: 1px #a8a8a8 solid;
    margin-top: 5px;
    width: 100%;
}

.text-box-big{
    grid-area: text-box-big;
    height: 80%;
    margin-top: -25px;
}

.question-text-field{
    grid-area: question-box;
    /* background-color: blue; */
}

.description-text-field{
    grid-area: description-box;
    display: grid;
    width: 90%;
    margin-left: 5%;
    /* justify-content: center; */
    grid-template-columns: auto;
    grid-template-rows: 33.3% auto;
    grid-template-areas: 
        "title-text"
        "text-box-big";
    /* background-color: plum; */
}

.description-text-field img{
    width: auto;
    height: 30%;
}

.categories-text-field{
    grid-area: categories-box;
    /* background-color: greenyellow; */
}

.email-text-field{
    grid-area: email-box;
    display: grid;
    width: 90%;
    margin-left: 5%;
    grid-template-columns: auto;
    grid-template-rows: 33.3% auto 2%;
    grid-template-areas: 
        "title-text"
        "text-box"
        "sub-text";
}

.sub-text{
    grid-area: sub-text;
    margin-top: -25px;
    font-size: 11px;
}

.post-button{
    grid-area: post-button;
    /* background-color: crimson; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-made{
    height: 700px;
    margin-top: 100px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 30% 10% 15% 20%;
    grid-template-areas: 
        "tick-icon"
        "title-text-PM"
        "PM-text"
        "post-button";
}

.title-text-PM{
    grid-area: title-text-PM;
    /* background-color: palevioletred; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.PM-text{
    grid-area: PM-text;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
    margin-left: 10%;
}

.tick-icon{
    grid-area: tick-icon;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.tick-icon img{
    height: 80%;
}

.title-text-PM h2{
    color: black;
}

.PM-text h3{
    color: black;
    font-size: 15px;
    text-align: center;
}


@media screen and (min-width: 1024px){
    .home{
        display: grid;
        grid-template-columns: 50% auto;
        grid-template-rows: 100px 445px 440px 470px 304px;
        grid-template-areas: 
        "nav nav"
        "header header"
        "button-home1 button-home2"
        "carousel-row-home carousel-row-home"
        "footer footer";
    }

    .general{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 100px 390px auto 237px;
        grid-template-areas: 
            "nav"
            "header"
            "main"
            "footer";
    }

    #find-a-guide{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 200px 700px 700px 700px;
        grid-template-areas: 
            "search-bar"
            "carousel-row1"
            "carousel-row2"
            "carousel-row3";
    }

    .category{
        display: grid;
        justify-content: center;
        margin-bottom: 100px;
        margin-top: 25px;
        grid-template-columns: 300px 300px 300px;
        grid-template-rows: 350px 350px 350px;
        grid-template-areas: 
            "grid-row1 grid-row2 grid-row3"
            "grid-row4 grid-row5 grid-row6"
            "grid-row7 grid-row8 grid-row9";
    }

    .search-results{
        display: grid;
        justify-content: center;
        margin-bottom: 100px;
        margin-top: 25px;
        grid-template-columns: 300px 300px 300px;
        grid-template-rows: 350px 350px 450px;
        grid-template-areas: 
            "grid-row1 grid-row2 grid-row3"
            "grid-row4 grid-row5 grid-row6"
            "carousel-row-home carousel-row-home carousel-row-home";
    }

    .grid-image-CAT{
        height: 300px;
        margin-right: 6.25%;
    }

    .category .grid-img{
        margin-left: 6.25%;
    }

    .category a{
        color: black;
    }

    .forum{
        height: 1600px;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 150px auto;
        grid-template-areas: 
            "button-bar"
            "forum-content";
    }
    
    .forum-content{
        height: 1350px;
        grid-area: forum-content;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 10% auto 5%;
        grid-row-gap: 0px;
        grid-template-areas: 
            "filters"
            "question-grid"
            "post-button";
    }
    
    .filters{
        grid-area: filters;
        background-color: darkgreen;
    }
    
    .question-grid{
        grid-area: question-grid;
        width: 65%;
        margin-top: 50px;
        margin-left: 17.5%;
        /* background-color: fuchsia; */
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(4, auto);
        grid-template-areas: 
            "question-tile1 question-tile2 question-tile3"
            "question-tile4 question-tile5 question-tile6"
            "question-tile7 question-tile8 question-tile9"
            "question-tile10 question-tile11 question-tile12";
    }

    .question-tile{
        height: 250px;
    }

    .tag{
        height: 30%;
        width: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #e8dbc8;
        border-radius: 10px;
    }

    .tag h5{
        font-size: 12px;
    }

    .forum-content .post-button{
        margin-top: 75px;
    }

    h1{
        font-weight: 550;
        font-size: 42px;
        margin-top: 10px;   
    }

    h2{
        font-weight: 300;
        font-size: 30px;
        line-height: 40px;
    }

    h3{
        font-family: 'Inter', sans-serif;
        font-weight: 300;
        font-size: 20px;
    }
    
    header h3{
        text-align: center;
        margin-top: -10px;
    }
    
    h4{
        font-size: 14px;
    }
    
    h5{
        font-weight: 300;
        font-size: 20px;
    }
    
    h6{
        font-weight: 300;
        font-size: 15px;
    }
    
    footer h6{
        margin-top: -20px;
        line-height: 20px;
    }

    .navigation{
        grid-area: nav;
        justify-content: center;
        align-items: center;
        display: grid;
        grid-template-columns: 11.5% 11.5% 20% 11.5% 11.5%;
        grid-template-rows: auto;
        grid-template-areas: 
            "nav1 nav2 logo nav3 nav4";
    }

    .navigation a{
        font-size: 18px;
    }

    #home-header{
        grid-area: header;
        display: grid;
        grid-template-columns: 50% auto;
        grid-template-rows: auto;
        grid-template-areas: 
            "col1 col2";
    }

    #home-header .home-col:nth-of-type(1){
        grid-area: col1;
        justify-content: center;
        padding-left: 150px;
        padding-bottom: 60px;
    }
    #home-header .home-col:nth-of-type(2){
        grid-area: col2;
        justify-content: center;
        padding-right: 150px;
        padding-bottom: 20px;
    }

    #home-header img{
        width: 80%;
    }
    
    .header-box-inner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 90%;
        width: 96%;
        border: #044056 4px solid;
        border-radius: 10px; 
    }

    .button-home img{
        width:600px;
        height: auto;
    }

    .card-row{
        grid-area: card-row;
        justify-content: center;
        display: grid;
        grid-template-rows: auto;
        /* grid-template-columns: 10% 20% 20% 20% 20% 10%; */
        grid-template-columns: 8.5% 17% 17% 17% 17% 8.5%;
        grid-template-areas: "arrow1 grid-image1 grid-image2 grid-image3 grid-image4 arrow2";
    
    }

    .grid-image1{
        grid-area: grid-image1;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: black 1px solid;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .grid-image2{
        grid-area: grid-image2;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: black 1px solid;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .grid-image3{
        grid-area: grid-image3;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: black 1px solid;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .grid-image4{
        grid-area: grid-image4;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: black 1px solid;
        margin-left: 10px;
        margin-right: 10px;
    }

    .grid-img{
        margin-left: 12.5%;
    }

    .grid-img img{
        width: 100%;
        height: 75%;
        object-fit: cover;
    }

    footer{
        grid-area: footer;
        display: grid;
        grid-template-columns: 25% 30% auto;
        grid-template-rows: auto;
        grid-template-areas: 
            "col1 col2 col3";
    }

    .footer-col:nth-of-type(1){
        grid-area: col1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: left;
        margin-left: 100px;
        margin-top: 30px;
    }
    
    .footer-col:nth-of-type(2){
        grid-area: col2;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: left;
        margin-top: 30px;
    }
    
    .footer-col:nth-of-type(3){
        grid-area: col3;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding-top: 50px;
        padding-left: 50px;
    }

    .search-box{
        background-color: white;
        width: 25%;
        height: 40px;
        border-radius: 30px;
        display: flex;
        align-items: center;
        margin-top: -10px;
        justify-content: space-between;
    }

    .search-box img{
        width: 8%;
        height: auto;
    }
    
    .search-box h5{
        font-size: 15px;
    }

    button{
        width: 250px;
        height: 50px;
        border-radius: 10px;
    }

    button h2{
        font-size: 20px;
    }

    .carousel-row-FaG .card-row{
        grid-area: card-row;
        justify-content: center;
        display: grid;
        grid-template-rows: auto;
        /* grid-template-columns: 10% 20% 20% 20% 20% 10%; */
        grid-template-columns: 8.5% 22.67% 22.67% 22.67% 8.5%;
        grid-template-areas: "arrow1 grid-image1 grid-image2 grid-image3 arrow2";
    }

    .carousel-row-FaG{
        margin-top: 20px;
    }

    .card-row-SR{
        grid-area: card-row;
        justify-content: center;
        display: grid;
        grid-template-rows: auto;
        /* grid-template-columns: 10% 20% 20% 20% 20% 10%; */
        grid-template-columns: 9% 22% 22% 22% 22% 9%;
        grid-template-areas: "arrow1 grid-image1 grid-image2 grid-image3 grid-image4 arrow2";
    
    }

    .card-row-SR .grid-img{
        height: 210px;
    }

    .text-field{
        width: 30%;
        margin-left: 35%
    }

    .ask-a-question{
        margin-top: 50px;
    }

    .post-made{
        height: 450px;
    }

    .tick-icon img{
        height: 125%;
    }

    .title-text-PM{
        margin-top: 90px;
    }

    .title-text-PM h1{
        font-size: 40px;
    }

    .PM-text{
        width: 50%;
        margin-left: 25%;
        margin-top: 30px;
    }

    .PM-text h3{
        font-size: 18px;
    }

    .post-made .post-button{
        margin-top: 100px;
    }

}
