@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');


body{
    margin: 0;
    padding: 0;
    /* height: 100vh; */
    width: 100vw;
    overflow-x: hidden;
    /* font-family: Arial, Helvetica, sans-serif; */
    /* display: grid;
    grid-template-columns: auto;
    grid-template-rows: 15.7% 70% auto 39% ;
    grid-template-areas: 
        "nav"
        "header"
        "container"
        "footer"; */
}

.home{
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: 15.7% 70% 70% 70% 39% ;
    /* grid-template-rows: 7.5% 34% auto 17%; */
    grid-template-areas: 
        "nav nav"
        "header header"
        "button-row button-row"
        "carousel-row carousel-row"
        "footer footer";
}

@media screen and (max-width: 750px){
    .home{
        grid-template-columns: auto;
        /* grid-template-rows: 15.7% 70% 140% 39% ; */
        grid-template-rows: 10% 25% 20% 20% 40% 20%;
        grid-template-areas: 
        "nav"
        "header"
        "button-row"
        "button-row"
        "carousel-row"
        "footer";
    }
}

.navigation{
    grid-area: nav;
    justify-content: center;
    align-items: center;
    background-color: white;
    display: grid;
    grid-template-columns: 11.5% 11.5% 20% 11.5% 11.5%;
    grid-template-rows: auto;
    grid-template-areas: 
        "nav1 nav2 logo nav3 nav4";
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}


nav:nth-of-type(1){
    grid-area: nav1;
    /* background-color: green; */
}

nav:nth-of-type(2){
    grid-area: nav2;
    /* background-color: crimson; */
}

nav:nth-of-type(3){
    grid-area: logo;
    /* background-color: plum; */
}

nav:nth-of-type(4){
    grid-area: nav3;
    /* background-color: purple; */
}

nav:nth-of-type(5){
    grid-area: nav4;
    /* background-color: brown; */
}

.home-nav{
    background-color: #044056;
}

.container{
    grid-area: container;
    background-color: white;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50% auto ;
    grid-template-areas: 
        "row1"
        "row2";

}

.home-row{
    grid-area: button-row;
    /* display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 18px; */
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 50% auto;
    grid-template-areas: "col1 col2";
}

.home-col:nth-of-type(1){
    grid-area: col1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-col:nth-of-type(2){
    grid-area: col2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-row{
    grid-area: carousel-row;
    justify-content: center;
    align-items: center;
    background-color: white;
    display: grid;
    grid-template-columns: 10% 15% 15% 15% 15% 10%;
    grid-template-rows: auto;
    grid-template-areas: 
        "arrow1 img1 img2 img3 img4 arrow2";

}

.grid-image{
    display: flex;
    flex-direction: column;
    border: black 1px solid;
    height: 200px;
    margin-left: 10px;
    margin-right: 10px;
}

.grid-image img{
    width: auto;
    height: 200px;
    object-fit: cover;
}

.arrow{
    border: black 1px solid;
}


footer{
    grid-area: footer;
    background-color: #044056;
    display: grid;
    grid-template-columns: 25% 30% auto;
    grid-template-rows: auto;
    grid-template-areas: 
        "col1 col2 col3";
}

.footer-col:nth-of-type(1){
    grid-area: col1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    margin-left: 100px;
    margin-top: 30px;
}

.footer-col:nth-of-type(2){
    grid-area: col2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    margin-top: 30px;
}

.footer-col:nth-of-type(3){
    grid-area: col3;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
    padding-left: 50px;
}

footer img{
    width: 40%;
    height: auto;
}


.home-row img{
    width:600px;
    opacity: 0.35;
}

.home-row img:hover{
    opacity: 1;
}

/* .home-button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(50%, 50%); 
} */

.navigation a{
    color: #044056;
    text-decoration: none;
    justify-content: center;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
}

.navigation a:hover{
    color: #a9a9a9;
}

.navigation .nav-active{
    color: #a9a9a9;
}

.home-nav a{
    color: white;
}

.home-nav a:hover{
    color: #ffd873;
}

.navigation img{
    width:80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
}

#home-header{
    grid-area: header;
    background-color: #044056;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: 
        "col1 col2";
}

#home-header .home-col:nth-of-type(1){
    grid-area: col1;
    justify-content: flex-end;
    padding-right: 40px;
    padding-bottom: 60px;
}
#home-header .home-col:nth-of-type(2){
    grid-area: col2;
    justify-content: flex-start;
    padding-left: 50px;
    padding-bottom: 20px;
}

.home-col{
    display: flex;
    align-items: center;
}

#home-header img{
    width: 65%;
    transform: rotate(14.8deg);
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #044056;
}

.header-box{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: #044056 5px solid; */
    height: 60%;
    width: 70%;
    border-radius: 10px; 
}

.header-box-inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 96%;
    border: #044056 5px solid;
    border-radius: 10px; 
}

.header-img{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.FaG{
    background-image: url(Images/craft-supplies.jpg);
}

.For{
    background-image: url(Images/legs-with-paint.jpg);
}

.Gde{
    background-image: url(Images/wooden-shelf.jpg);
}

.Ans{
    background-image: url(Images/tools-on-beige-wall.jpg);
}

.Ans h1{
    font-size: 30px;
}

h1{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 42px;
    margin-top: 10px;   
}

h2{
    font-family: 'Inter', sans-serif;
    color: white;
    font-weight: 300;
    font-size: 30px;
    line-height: 40px;
}

h3{
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

header h3{
    text-align: center;
    margin-top: -10px;
}

h4{}

h5{
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

h6{
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 15px;
}

footer h6{
    margin-top: -20px;
    line-height: 20px;
}